div.jumbotron.hero-nature {
  background-image: url('../../assets/img/architect-at-the-construction.jpg');
}

div.jumbotron.hero-photography {
  background-image: url('../../assets/img/architects-and-worker.jpg');
}

div.jumbotron.hero-technology {
  background-image: url('../../assets/img/young-college-students.jpg');
}

.plat {
  border-radius: 0px;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

