.neon2 {
  color: #fff;
  background-color: #232323;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #dd0d19, 0 0 30px #dd0d19, 0 0 40px #dd0d19, 0 0 55px #dd0d19, 0 0 75px #dd0d19;
  text-align: center;
}

.neonhover:hover {
  color: #fff;
  background-color: #232323;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  text-align: center;
}

.neonhover {
  color: #fff;
  background-color: #232323;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1585ed, 0 0 30px #1585ed, 0 0 40px #1585ed, 0 0 55px #1585ed, 0 0 75px #1585ed;
  text-align: center;
}

