* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

/* ----------media queries for devices------- */

@media (max-width: 850px) {
  .row {
    flex-direction: column;
  }
}

/* ----------second part of homepage------- */

h1 {
  font: 36px;
  font-weight: 500;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}

